<!doctype html>
<html lang="pt-br">
<%- include('_partial/head') %>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLR2C2T"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <%- include('_partial/header') %>
  
  <main id="main">
    <%- content %>
  </main>

  <%- include('_partial/footer') %>
  <%- include('_partial/consent-banner') %>
  <%- include('_partial/phonetrack') %>
  <%- include('_partial/analytics-events') %>
</body>
</html>
