<%
var members = site.data.authors.filter(function(data) {
    return data.main === true
});

var support = site.data.authors.filter(function(data) {
    return data.main === false
});
%>

<div class="row">
    <div class="contpage equipe">
        <h1 class="title2" style="margin-bottom:20px;">Equipe:</h1>
        <div class="row">
            <% members.forEach(function(member) { %>
            <div class="col-md-6 col-sm-6 col-xs-12 membro original">
                <h3 class="title2"><%= member.name %></h3>
                <div class="media">
                    <div class="img img-circle">
                        <img data-src="<%= member.avatar %>" width="150" height="150" alt="" loading="lazy" class="lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="<%= member.name %>" />
                    </div>
                    <div class="bd">
                        <p style="text-align: justify;"><%- markdown(member.bio) %></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <!-- row -->
        <h2 class="title2">Profissionais de apoio:</h2>
        <div class="row">
            <% support.forEach(function(member) { %>
            <div class="col-md-6 col-sm-6 col-xs-12 membro original">
                <h3 class="title2"><%= member.name %></h3>
                <div class="media">
                    <div class="img img-circle">
                        <img data-src="<%= member.avatar %>" width="150" height="150" alt="" loading="lazy" class="lazyload attachment-thumbnail size-thumbnail wp-post-image" alt="<%= member.name %>" />
                    </div>
                    <div class="bd">
                        <p style="text-align: justify;"><%- markdown(member.bio) %></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <!-- row -->
    </div>
    <!-- contpage -->
</div>
<!-- row -->