<head>
  <meta charset="UTF-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='dns-prefetch' href='//www.google.com' />
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />

  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/prettyPhoto.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/owl.carousel.css" />
  <link rel="stylesheet" href="/css/owl.theme.css" />
  <link rel='stylesheet' id='rs-plugin-settings-css'  href='/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
  <style id='rs-plugin-settings-inline-css' type='text/css'>
  .tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.largeredbtn{font-family:"Raleway",sans-serif;font-weight:900;font-size:16px;line-height:60px;color:#fff !important;text-decoration:none;padding-left:40px;padding-right:80px;padding-top:22px;padding-bottom:22px;background:rgb(234,91,31); background:-moz-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(234,91,31,1)),color-stop(100%,rgba(227,58,12,1))); background:-webkit-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-o-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-ms-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:linear-gradient(to bottom,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5b1f',endColorstr='#e33a0c',GradientType=0 )}.largeredbtn:hover{background:rgb(227,58,12); background:-moz-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(227,58,12,1)),color-stop(100%,rgba(234,91,31,1))); background:-webkit-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-o-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-ms-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:linear-gradient(to bottom,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33a0c',endColorstr='#ea5b1f',GradientType=0 )}.fullrounded img{-webkit-border-radius:400px;-moz-border-radius:400px;border-radius:400px}
  </style>
  <link rel='stylesheet' id='tp-opensans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C600%2C700&#038;ver=5.0.2' type='text/css' media='all' />
  <link rel='stylesheet' id='tp-lato-css'  href='https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700&#038;ver=5.0.2' type='text/css' media='all' />
  <link rel='stylesheet' id='tp-raleway-css'  href='https://fonts.googleapis.com/css?family=Raleway%3A500%2C600%2C400&#038;ver=5.0.2' type='text/css' media='all' />
  <link rel='stylesheet' id='et_bloom-css-css'  href='/css/bloom-style.css?ver=1.1.8' type='text/css' media='all' />

  <link rel="canonical" href="<%= url %>" />
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>  
  <link rel="alternate" type="application/atom+xml" title="Feed para <%= config.title %>" href="<%= config.url %>/atom.xml" />
  <meta name="author" content="<%= config.title %>" /> 
  <meta name="Publisher" content="<%= config.title %>" /> 
  <meta name="Googlebot" content="all" />

  <%- open_graph({
    fb_app_id: config.fb_app_id,
    google_plus: config.google_plus,
    twitter_id: config.twitter_id,
    image: page.featured_image
  }) %>

  <meta name="google-site-verification" content="RV8HX__uJPpEeGNG6yucFLEEK-DJ7WPZRH5siZpSaAA" />
  <meta name="google-site-verification" content="0B5-KOJcNwtZwe5yXQGcZhz55uC7PBLEXatlWo0HEE4" />

  <% if (is_post() && config.generator_amp){ %>
    <link rel="amphtml" href="<%= config.url %><%= config.root %><%= page.path %>amp/index.html">
  <% } %>
</head>