<head>
  <meta charset="UTF-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="RV8HX__uJPpEeGNG6yucFLEEK-DJ7WPZRH5siZpSaAA" />
  <meta name="google-site-verification" content="0B5-KOJcNwtZwe5yXQGcZhz55uC7PBLEXatlWo0HEE4" />
  <meta name="author" content="MD Frossard - https://mdfrossard.com.br" /> 
  <meta name="Publisher" content="MD Frossard - https://mdfrossard.com.br" /> 
  <meta name="keywords" content="implante, ortodontia, odontologia, dentista, saúde, boca, sorriso, dente, aparelho dentário, aparelho ortodôntico, aparelho, mau hálito, halitose, endodontia, tratamento, biossegurança, estética, prevenção e manutenção, escovar destes, escovação, tratamento dentário" />
  <meta name="Googlebot" content="all" />

	<link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/prettyPhoto.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/main.css" />
  <% if(true){ %>
    <!-- template-page-estrutura.php -->
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />
  <% } %>

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <%- css('css/style') %>

  <script src="/js/modernizr-2.6.2.js"></script>

<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
_fbq.push(['addPixelId', '266409860211711']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>

<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=266409860211711&amp;ev=PixelInitialized" /></noscript>
</head>